body {
  user-select: none;
}

.topright {
  position: fixed;
  height: 12rem;
  width: 20rem;
  top: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  border: 2px solid black;
}

#converter-input {
  width: 50%;
}

#more {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#more:hover {
	background-color:#5cbf2a;
}
#more:active {
	position:relative;
	top:1px;
}


#exit-settings {
  text-align: center;
  width: 1rem;
  top: 0;
  left: 0;
  margin: -.5rem;
  cursor: pointer;
  border: 1px solid black;
}

.option {
  cursor: pointer;
  text-decoration: underline;
}

.option:hover {
  color:grey;
}

div {
  margin: 1rem;
}

td,th,tr {
  border: 1px solid black;
}

table {
  width: 40%;
}

th {
  padding: 1rem;
}

td {
  width: 25%;
  text-align: center;
}

.unlocked {
  cursor: pointer;
}

.unlocked:hover {
  background-color: #000;
  color: #fff;
}

.locked {
  background: lightgrey;
  color: grey;
  user-select: none;
  cursor: default;
}

.log-item {
  color: grey;
  margin: 1rem;

}

.cursorpointer {
  cursor: pointer;
}

#bottomleft {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 16rem;
  height: 3rem;
  border: 2px solid black;
  overflow-y: scroll;
}

#bottomright {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20rem;
  height: 27rem;
  border: 2px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.topleft {
  font-size: 1.5rem;
  color: black;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.topleft:hover {
  text-decoration: underline 1px dashed black;
}

.topleft:active {
  color: orange;
}

.description {
  color: grey;
  text-decoration: italic;
}

.full {
  color: red;
}

#settingspane {
  user-select: none;
  position: fixed;
  width: 10rem;
  height: 10rem;
  left: 0;
  top: 3rem;
}
